body {
    margin: 0;
    box-sizing: border-box;
}

@page {
    size: 21cm 10cm; /* Ensure correct page size */
    margin: 0; /* Remove default margins */
}

.voucher {
    display: flex;
    page-break-after: always;
    width: 21cm;
    height: 10cm;
    margin: auto; /* Center the voucher */
}

@media print {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh; /* Ensures full-page centering */
    }

    .print-btn {
        display: none;
    }
}




.voucher{
    display: flex;     
    page-break-after: always;
    width: 21cm;
    height: 10cm;
}

.sideTab{
    width: 6.2cm;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.2cm;
    padding-top: 2.5cm;
    padding-left: 3cm;
}

.boxTab{
    width: 2cm;
    height: 1cm;
    text-align: right;
    text-justify: center;
    
    padding-top: 0.1cm;
    padding-right: 0.1cm;
}

#nameTab{
    text-align: left;
    padding-top: 0;
}

.voucherMain{
    width: 14.8cm;
    height: 100%;
    display: flex;
    flex-direction: column;    
    padding-top: 1.4cm;
    padding-right: 1cm;
}

.height1{
    height: 1cm;
}

#mainAmount{
    text-align: right;
    margin-bottom: 0.1cm;
}

#harvester{
    width: 12.5cm;
    text-align: center;
    margin-bottom: 1.9cm;
}

#mainName{
    text-align: right;
    width: 11cm;
    margin-bottom: 0.1cm;
}

#mainDate{
    width: 1.8cm;
    margin-right: 11.1cm;
}


